@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.navbar {
    border-radius: 10px;
    margin-top: 5px;
}

.signinhome {
    background-image: url("https://img.freepik.com/free-photo/top-view-table-full-delicious-food-composition_23-2149141352.jpg?semt=ais_hybrid&w=740");
    background-size: cover;
    height: 110vh;
}

/* .fudByteimg {
    height: 200px;
    border-radius: 20px;
} */
.sign-in-imgcontainer {
    height: 100vh;
    padding: 10px;
    color: white;
    background-size: cover;
    background-position: center;
}

.fudByteimg {
    height: 200px;
    border-radius: 20px;
    max-width: 100%;
    object-fit: cover;
}

.fudByteimg1 {
    height: 100px;
    border-radius: 20px;
}

.inpara {
    color: white;
}

/* .sign-in-imgcontainer {
    background-image: url("https://www.iberdrola.com/documents/20125/39904/real_food_746x419.jpg/0c9185fa-b2dd-e1a6-602c-bca55f68e54e?t=1626673209445");
    background-size: cover;
    height: 100%;
    width: 100%;
    padding: 20px;
    text-align: center;
    color: white;
} */
.downcontainer {
    background-color: grey;
}

.innerform {
    text-align: center;
    background-color: white;
}

.homecontainer {
    background-color: transparent;

    height: 100vh;
}

.formcontainer {
    background-color: transparent;
    padding: 20px;
    margin: 0px;
    height: 100%;
    border-radius: 20px;
    border-style: solid;
    border-width: 5px;
    transition: all 0.3s ease-in-out;

}

.formcontainer:hover {
    background-color: rgba(255, 255, 255, 0.1);
    /* purple tint */
    transform: scale(1.02);
}

.effect:hover {
    background-color: rgba(255, 255, 255, 0.1);
    /* purple tint */
    transform: scale(1.02);
}

.innerspace {
    padding: 7px;
    border-radius: 10px;
    border-style: solid;
    background-color: white;
    transition: all 0.3s ease-in-out;
}

.innerspace:hover {
    background-color: rgba(255, 255, 255, 0.1);
    /* purple tint */
    transform: scale(1.05);
}

.buttonsContainer {
    padding: 5px;
    border-radius: 20px;
    width: 100%;

}

.formbtn:hover {
    background-color: rgba(255, 255, 255, 0.1);
    /* purple tint */
    transform: scale(1.05);
}

#navItem1 {
    color: black;
    font-family: "Roboto";
}

#navItem2 {
    color: black;
    font-family: "Roboto";
}

#navItem3 {
    color: black;
    font-family: "Roboto";
}

#navItem4 {
    color: black;
    font-family: "Roboto";
}

.fud-byte-logo {
    width: 100px;
    height: 70px;
    border-radius: 10px;
}

.imgbanner {
    background-image: url("https://img.freepik.com/free-photo/top-view-table-full-delicious-food-composition_23-2149141352.jpg?semt=ais_hybrid&w=740");
    background-size: cover;
    height: 100vh;
}

.imgHead {
    color: white;

}

.imgbtn {
    background-color: transparent;
    color: white;
    padding: 5px 20px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    border-style: solid;
    /* border-color: transparent; */
}

.imgbtn:hover {
    background-color: rgba(255, 255, 255, 0.1);
    /* purple tint */
    transform: scale(1.05);
    /* Slight zoom */
}

.info-cards {
    padding: 15px;
    margin-top: 10px;
    text-align: center;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #e5eaf4;
    border-radius: 16px;

}

.info-cards-head {
    text-align: center;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #e5eaf4;
    border-radius: 16px;
    padding: 2px;
    margin-top: 20px;
    font-family: "Roboto";
}

.wcu-card-image {
    width: 87px;
    height: 90px;
}

.wcu-para {
    color: grey;
}

.wcu-head {
    color: black;
    font-size: 18px;
}

.whysection {
    padding: 10px;
    margin-top: 10px;
}

.fuddiscount {
    width: 250px;
    height: 250px;
}

.delivery-and-payment-section {
    background-color: white;
}

.delivery-and-payment-section-img {
    width: 270px;
}

.delivery-and-payment-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.delivery-and-payment-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
}

.payment-card-img {
    width: 50px;
    height: 50px;
    margin-right: 28px;
}

.delivery-and-payment-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
}

.follow-us-icon-container {
    background-color: #faf7e8;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin: 15px;
    padding: 22px;

    text-align: center;
}

.followcontainer {
    border-radius: 10px;
}


.footer-section-mail-id {
    font-size: 20px;
    padding: 3px;
}

.healthy-food-section {
    background-color: #f9fbfe;
}

.healthy-food-section-img {
    width: 270px;
}

.healthy-food-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.healthy-food-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
}

.feedbacksection {
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
}

.spimg {
    border-radius: 20px;
}

.explore-menu-section {
    background-color: white;
}

.menu-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.menu-item-image {
    border-radius: 16px;
}

.menu-card-title {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 500;
    margin-top: 24px;
}

.menu-item-link {
    color: #d0b200;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
}

.menu-item-card {
    border-radius: 16px;
}